<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/angular.js"></script>
    <script>
        // 声明一个主模块
        var myapp = angular.module("myapp",[]);

        // 在主模块中注册一个控制器
        myapp.controller("myCtrl",function($scope){
            $scope.user = {
                desc:"",
                gender:"男",        // 设置了初始默认值
                married: true,
                job:"teacher",   // 设置一个默认值
                promise:false
            };
        });
    </script> 
</head>
<body class="container" ng-controller="myCtrl">
<br />
<!--隐式数据绑定：在$scope.user中没有明确地声明username属性-->
姓名:<input type="text" ng-model="user.username"><br/>

<!--显式数据绑定：在$scope.user中明确地声明了desc属性-->
简介:<br/>
<textarea rows="5" cols="30" ng-model="user.desc"></textarea><br/>

<!--单选按钮的绑定：一组单击按钮，ng-model要绑定在同一个变量中-->
性别：
<label><input type="radio" name="gender" ng-model="user.gender" value="男">男生</label>
<label><input type="radio" name="gender" ng-model="user.gender" value="女">女生</label>

<!--复选框的绑定：-->
<br/>婚否：
<label><input type="checkbox" ng-model="user.married"
              ng-true-value="'已婚'" ng-false-value="'未婚'"/>婚否</label>

<!--下拉列表的绑定：-->
<br/>职业:<br/>
<select ng-model="user.job">
    <option value="">请选择您的职业</option>
    <option value="programmer">程序员</option>
    <option value="teacher">教师</option>
    <option value="boss">企业家</option>
</select>

<!--复选框作开关:选中为true，没有选中为false -->
<br /><br />
<label class="text-warning">
    <input type="checkbox" ng-model="user.promise"/>我发誓上述内容为真
</label>
<br /><button class="btn btn-success" ng-disabled="!user.promise">注册</button>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">个人信息</div>
    <div class="panel-body">
        <p class="well text-info">姓名：{{user.username}}</p>
        <p class="well text-info">简介：{{user.desc}}</p>
        <p class="well text-info">性别：{{user.gender}}</p>
        <p class="well text-info">婚否：{{user.married}}</p>
        <p class="well text-info">职业：{{user.job}}</p>
        <p class="well text-info">发誓：</p>
    </div>
</div>
</body>
</html>